<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Lg Issue Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</head>
<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container">
    <div sec:authorize="isAuthenticated()">
        <form id="logoutForm" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>


      <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
        <h2 class="text-center">issues</h2>

        <div class="my-3">
          <form th:action="@{/issues}" id="searchForm">
            <div class="row d-flex">
              <div class="col-md-6 mt-2">
                <div class="search">
                  <i class="fa fa-search"></i>
                  <input id="keyword" type="search" name="keyword" th:value="${keyword}" required class="form-control"
                         placeholder="Enter keyword">
                  <button type="submit" class="btn btn-secondary">Search</button>
                </div>
              </div>
              <div class="col-md-3 input-group mt-2">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="pageSize">Items per page:</label>
                </div>
                <select form="searchForm" name="size" th:value="${pageSize}" onchange="changePageSize()" class="size-select"
                        id="pageSize">
                  <option th:each="s : ${ {3, 6, 9} }" th:value="${s}" th:text="${s}" th:selected="${s == pageSize}"></option>
                </select>
              </div>
              <div class="col-md-1 mt-2">
                <button id="btnClear" class="btn btn-info">Clear</button>
              </div>
            </div>
          </form>
        </div>

        <div th:if="${issues.size() > 0}">
          <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">LG Reference#</th>
              <th scope="col">LG Type</th>
              <th scope="col">LG Issue Date</th>
              <th scope="col">Ammount & Ccy</th>
              <th scope="col">Applicant Name</th>
              <th scope="col">IBAN#</th>
              <th scope="col">Status</th>
              <th scope="col"></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="issue : ${issues}">
              <th scope="row">[[${issue.id}]]</th>
              <td>[[${issue.lgNumber}]]</td>
              <td>[[${issue.lgType}]]</td>
              <td><span th:text="${#dates.format(issue.issueDate,'yyyy-MM-dd')}"></span></td>
              <td>[[${issue.amount}]] [[${issue.currency}]]</td>
              <td>[[${issue.entityName}]]</td>
              <td>[[${issue.appIban}]]</td>
              <td>[[${issue.status}]]</td>
              <td>
                <a th:href="@{'/issues/' + ${issue.id}}" title="Edit this issue"
                   class="fa-regular fa-pen-to-square icon-dark"></a>
                &nbsp;
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div th:unless="${issues.size() > 0}">
          <span>No issues found!</span>
        </div>

        <nav aria-label="Pagination" th:if="${totalPages > 0}">
          <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
              <a th:replace="fragments/paging :: paging(1, '<<', 'First Page')"></a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
              <a th:replace="fragments/paging :: paging(${currentPage - 1}, 'Prev', 'Previous Page')"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
              <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
              <a th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"></a>
            </li>
            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
              <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
              <a th:replace="fragments/paging :: paging(${currentPage + 1},'Next', 'Next Page')"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
              <a th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"></a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>

</body>
</html>
