<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="utf-8" />
    <title>Lg Issue Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:rel="stylesheet" th:href="@{/css/datepicker/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{css/datepicker/bootstrap-datepicker.standalone.css}"/>
    <link href="/css/common.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
      <div sec:authorize="isAuthenticated()">
        <form id="logoutForm" method="POST" th:action="@{/logout}">
          <input
            type="hidden"
            name="${_csrf.parameterName}"
            value="${_csrf.token}"
          />
        </form>

        <div class="container-fluid" style="max-width: 1200px; margin: 0 auto">
          <h2 class="title">Issues</h2>
          <div class="card my-3">
            <div class="card-body p-2 my-2">
              <form th:action="@{/issues}" method="get" id="searchForm">
                <div class="form-group row">
                  <div class="col-md-3">
                    <label for="lgReference">LG Reference#</label>
                    <div>
                      <input
                        id="lgReference"
                        type="text"
                        name="lgReference"
                        th:value="${lgReference}"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="lgType">LG Type</label>
                    <div>
                      <input
                        id="lgType"
                        type="text"
                        name="lgType"
                        th:value="${lgType}"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="iban">IBAN#</label>
                    <div>
                      <input
                        id="iban"
                        type="text"
                        name="iban"
                        th:value="${iban}"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="lgType">Applicant CIF#</label>
                    <div>
                      <input
                        id="applicantCif"
                        type="text"
                        name="applicantCif"
                        th:value="${applicantCif}"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-3">
                    <label for="issueDate">LG Issue Date</label>
                    <div class="input-group date">
                      <input
                        type="text"
                        id="issueDate"
                        name="issueDate"
                        autocomplete="off"
                        th:value="${#dates.format(issueDate,'yyyy-MM-dd')}"
                        class="form-control"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text"
                          ><i class="far fa-calendar-alt"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="startDate">Start Date</label>
                    <div class="input-group date">
                      <input
                        type="text"
                        id="startDate"
                        name="startDate"
                        autocomplete="off"
                        th:value="${#dates.format(startDate,'yyyy-MM-dd')}"
                        class="form-control"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text"
                          ><i class="far fa-calendar-alt"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="endDate">End Date</label>
                    <div class="input-group date">
                      <input
                        type="text"
                        id="endDate"
                        name="endDate"
                        autocomplete="off"
                        th:value="${#dates.format(endDate,'yyyy-MM-dd')}"
                        class="form-control"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text"
                          ><i class="far fa-calendar-alt"></i
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="filter" style="visibility: hidden">btn</label>
                    <div class="input-group">
                      <button
                        type="button"
                        id="filter"
                        name="action"
                        onclick="searchIssue()"
                        value="searchIssue"
                        class="btn btn-primary btn-sm"
                      >
                        Search
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card mb-2">
            <div class="card-body">
              <table class="table table-responsive-xl m-0">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">LG Reference#</th>
                    <th scope="col">LG Type</th>
                    <th scope="col">LG Issue Date</th>
                    <th scope="col">Amount & Ccy</th>
                    <th scope="col">Applicant Name</th>
                    <th scope="col">IBAN#</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:unless="${issues.size() > 0}">
                    <td colspan="8" class="text-center">No issues found!</td>
                  </tr>

                  <tr
                    th:if="${issues.size() > 0}"
                    th:each="issue : ${issues}"
                  >
                    <th scope="row">[[${issue.id}]]</th>
                    <td>[[${issue.lgNumber}]]</td>
                    <td>[[${issue.lgType}]]</td>
                    <td>
                      <span
                        th:text="${#dates.format(issue.issueDate,'yyyy-MM-dd')}"
                      ></span>
                    </td>
                    <td>[[${issue.amount}]] [[${issue.currency}]]</td>
                    <td>[[${issue.entityName}]]</td>
                    <td>[[${issue.appIban}]]</td>
                    <td>[[${issue.status}]]</td>
                    <td>
                      <a
                        th:href="@{'/issues/' + ${issue.id}}"
                        title="View this issue"
                        class="fa-solid fa-eye icon-dark"
                      ></a>
                      &nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <nav aria-label="Pagination" th:if="${totalPages > 0}">
            <ul class="pagination justify-content-center">
              <li
                class="page-item"
                th:classappend="${currentPage == 1} ? 'disabled'"
              >
                <a
                  th:replace="fragments/paging :: paging(1, '<<', 'First Page')"
                ></a>
              </li>
              <li
                class="page-item font-weight-bold"
                th:classappend="${currentPage == 1} ? 'disabled'"
              >
                <a
                  th:replace="fragments/paging :: paging(${currentPage - 1}, '<', 'Previous Page')"
                ></a>
              </li>
              <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                <a class="page-link" href="#">...</a>
              </li>
              <li
                class="page-item"
                th:classappend="${page == currentPage} ? 'active'"
                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}"
              >
                <a
                  th:replace="fragments/paging :: paging(${page}, ${page}, 'Page ' + ${page})"
                ></a>
              </li>
              <li
                class="page-item disabled"
                th:if="${currentPage + 2 < totalPages}"
              >
                <a class="page-link" href="#">...</a>
              </li>
              <li
                class="page-item font-weight-bold"
                th:classappend="${currentPage == totalPages} ? 'disabled'"
              >
                <a
                  th:replace="fragments/paging :: paging(${currentPage + 1},'>', 'Next Page')"
                ></a>
              </li>
              <li
                class="page-item"
                th:classappend="${currentPage == totalPages} ? 'disabled'"
              >
                <a
                  th:replace="fragments/paging :: paging(${totalPages}, '>>', 'Last Page')"
                ></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script th:src="@{/js/datepicker/bootstrap-datepicker.js}"></script>
    <script src="/js/main.js"></script>
    <script>
      $(".input-group.date").datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "yyyy-mm-dd",
      });

      function searchIssue() {
        $("#searchForm").submit( ); // Submit the form
      }
    </script>
  </body>
</html>
